.container {
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}


.cards-container {
  display: flex;
  justify-content: space-around; /* Coloca um espaço entre os cards */
  align-items: center; /* Alinha verticalmente */
}

.card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 45%; /* Define uma largura para cada card */
}
